#call-panel {
    box-sizing: border-box;
    position: fixed;
    top: 10px;
    left: 12px;
    right: 12px;
    background-color: var(--darkets);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--padding));
    border-radius: var(--border-radius);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 6px 6px rgba(0 0 0 / 0.25);
    max-height: 260px;
    height: 260px;
    max-width: 396px;
    width: 396px;
    overflow: hidden;
    z-index: 100;
    transition: 0.3s ease;
    container-type: size;
    container-name: call-panel;
    gap: var(--gap);
}

#call-panel.minimized {
    container-type: inline-size;
    max-height: 40px;
    height: fit-content;
    width: 200px;
    box-shadow: none;
}

#call-panel.minimized>*:not(header) {
    display: none !important;

}

#call-panel>header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    #call-panel:not(.minimized) {
        top: 0px;
        left: 0;
        right: 0;

        border-radius: 0;

        max-width: 100dvw;
        max-height: 100dvh;
        width: 100dvw;
        height: 100dvh;

        transition: 0ms;
    }

    #call-panel.minimized>header>nav>*:first-child {
        display: none !important;
    }

    #call-panel.minimized>header>nav>*:last-child {
        display: none;
    }

    #call-panel.minimized>header>nav {
        justify-content: center;
        width: auto;
    }

    #call-panel.minimized>header {
        width: auto;
    }

    #call-panel.minimized {
        max-width: 100px;
        width: auto;
    }

    #call-peers {
        max-height: 100% !important;
    }

    .call-card {
        width: 180px !important;
        height: 180px !important;
    }

    #call-panel>footer>button {
        font-size: var(--h3) !important;
    }

}

#call-panel>#call-peers {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 140px;

}

#call-panel>#call-peers ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#call-panel>footer {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.call-card {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--dark-muted);
    width: 120px;
    height: 120px;

}

.call-card>* {
    color: var(--accent);
}


.call-card.muted {
    filter: blur(2px);
    pointer-events: none;
}

.call-card>nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
    gap: 4px;
}

.call-card:hover>nav,
.call-card:focus-within>nav {
    opacity: 1;
    visibility: visible;
}

#call-panel>footer button {
    background-color: var(--dark);
    box-shadow: inset 0 0 0 2px var(--dark-muted);
}

@container call-panel (max-height: 40px) {

    #call-panel>footer,
    #call-panel #call-peers {
        display: none;
        position: none;
    }
}

button#call-leave,
#login-call.active {
    filter: hue-rotate(calc(-1 * var(--hue-offset, 0deg))) !important;
    background-color: #EE5449 !important;
    color: #802D27 !important;
    box-shadow: inset 0 0 0 2px #802D27 !important;
}
