:root {
    --lightest: #E6EDE6;
    --pale-rgb: 188, 226, 188;
    --pale: rgba(var(--pale-rgb), 1);
    --accent: #99CC99;
    --dark-muted: #213121;
    --dark: #1E2A1E;
    --darkets: #152015;
}


h1 {
    line-height: 1;
    margin: 0;
    display: flex;
    align-items: end;
    padding: 0;
}

h1>i {
    font-style: normal;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    padding-bottom: 0.15em;
}

h1>i>svg {
    width: auto;
    height: 0.6em;
    fill: currentColor;
    display: block;
    padding: 0 4px;
}

footer#custom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: calc(var(--gap) * 2);
}

nav:has(>button.iconoir-fill-color) {
    flex-wrap: wrap
}

nav:has(>button.iconoir-fill-color)>* {
    flex: 1
}

footer#custom>a {
    color: var(--text-secondary);

}

@media (max-width: 768px) {
    footer#custom {
        top: 10px;
        bottom: auto;
        display: none;
    }

    section[data-replaced="main"] {
        height: 100vh;
        justify-content: space-between;
    }

}

dialog[data-menu-name="edit-profile"]>section>section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);

}

dialog[data-menu-name="edit-profile"]>section>section>button {
    flex: 1;
    white-space: nowrap;
}
